/* Stylizacja paska nawigacyjnego */
.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px ;
  text-align: center;
}

/* Użycie Flexboxa dla elementów nawigacyjnych */
.navbar nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Stylizacja listy nawigacyjnej */
nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

/* Stylizacja elementów listy */
nav ul li {
  margin-right: 10px; /* Odstępy między elementami listy */
  display: inline-block; /* Ustawienie elementów listy w jednej linii */
}

/* Stylizacja linków nawigacyjnych */
nav ul li a {
  text-decoration: none;
  color: #fff;
}

/* Stylizacja formularza wyszukiwania */
form {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Odstęp od pozostałych elementów, jeśli jest potrzebny */
}

/* Dostosowanie pól tekstowych i przycisków formularza */
input[type="text"] {
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Dostosowanie marginesu górnego treści, aby nie była zakrywana przez navbar */
body {
  margin-top: 60px; /* Dostosuj wartość w zależności od wysokości Twojego navbara */
}
