nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #fff; 
}

.navbar { 
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  color: #fff;
  background-color: #333; 
  text-align: center;
  

}
body {
  margin-top: 60px; /* Wartość powinna być większa niż wysokość Twojego navbaru */
}
