{% extends 'base.html' %}

{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
</head>

<div class="registration-container">
    <form class="login-form" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <h2>Zaloguj sie</h2>
        {{ form.as_p }}  <!-- Automatycznie renderuje pola z formularza z dodanymi atrybutami -->
        <button type="submit" class="btn btn-primary btn-ghost">Zaloguj sie</button>
        <p>Nie masz konta? <a href="{% url 'register' %}">Zarejestruj sie</a></p>
    </form>
    
</div>
{% endblock %}