{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="static/css/productsite.css">
</head>

<section class="product">
    <div class="container">
        <h1 class="product-name">{{ product.name }}</h1>
        <div class="product-details"> 
            <div class="product-image">
                <img src="{{ product.image.url }}" alt="Product Image">
            </div>
            <div class="product-info">
                <p class="product-price">{{ product.price }} szt.</p>
                <button id="add-to-cart" class="btn btn-primary" data-id="{{ product.id }}">Dodaj do koszyka</button>
            </div>
           
        </div>
        <div class="product-description">
            <p>{{ product.description }}</p>
        </div>
    </div>
</section>


    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Pobranie przycisku "Add to Cart"
            var addToCartButton = document.getElementById('add-to-cart');

            // Dodanie nasłuchiwacza zdarzeń na kliknięcie przycisku
            addToCartButton.addEventListener('click', function() {
                // Pobranie identyfikatora produktu
                var productId = addToCartButton.getAttribute('data-id');

                // Pobranie informacji o produkcie
                var productName = "{{ product.name }}";
                var productPrice = "{{ product.price }}";
                var productImage = "{{ product.image.url }}";

                // Sprawdź, czy koszyk istnieje w localStorage
                var cart = JSON.parse(localStorage.getItem('cart')) || [];

                // Dodanie produktu do koszyka
                var product = {
                    id: productId,
                    name: productName,
                    price: productPrice,
                    image: productImage
                };
                cart.push(product);

                // Zapisanie koszyka w localStorage
                localStorage.setItem('cart', JSON.stringify(cart));

                // Powiadomienie użytkownika o dodaniu produktu do koszyka
                alert('Product added to cart');
            });
        });
    </script>
{% endblock %}

