{% extends 'base.html' %}

{% block content %}
<h1>Witaj na stronie profilowej!</h1>

<p>Witaj, {{ user.username }}!</p>
<p>Email: {{ user.email }}</p>
<p>Data utworzenia konta: {{ user.date_joined }}</p>
<button>Twoje komentarze</button> <br>
<button>Twoje zamówienia</button><br>

<a href="{% url 'password_change' %}">Zmień hasło</a><br>
<a href="{% url 'password_reset' %}">Resetuj hasło</a><br>

<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Wyloguj</button>
</form>

<h2>Twoje zamówienia</h2>
{% if zamowienia %}
    <ul>
    {% for zamowienie in zamowienia %}
        <li>Nazwa produktu {{zamowienie.product_name}}  Zamówienie nr {{ zamowienie.id }} - Data: {{ zamowienie.date }} - Łączna cena: {{ zamowienie.total_price }} zł </li>

    {% endfor %}
    </ul>
{% else %}
    <p>Nie masz jeszcze żadnych zamówień.</p>
{% endif %}

{% endblock %}
o