<!-- Przykład szablonu bazowego (base.html) -->
<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/navbar.css' %}">

  <link rel="stylesheet" href="{% static 'css/footer.css' %}">

  <link rel="stylesheet" href="{% static 'css/darkbase.css' %}">

  <link rel="stylesheet" href="{% static 'css/productsite.css' %}">

  <link rel="stylesheet" href="{% static 'css/cart.css' %}">

  <title>Mój Projekt Django</title>
</head>
<body>
  
  <!-- Zawartość strony -->
  {% include 'navbar.html' %}
  {% block content %}
  

  
 

   {% endblock %}
   {% include 'footer.html' %}
</body>
</html>
