{% load static %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<div class="navbar">
  <nav>
      <ul>
        <li><a href="{% url 'main' %}">Strona Główna</a></li>
        <li><a href="{% url 'login' %}">
          <i class="fas fa-user"></i> 
        </a></li>
        
        <li><a href="{% url 'productsite' %}"> 

          <i class="fas fa-solid fa-ruler"></i>     
        </a></li>

        <li><a href="{% url 'login' %}"> 

          <i class="fas fa-shopping-cart"></i> 
        </a></li>
        <li><a href="{% url 'register' %}"> 
          <i class="fas fa-microphone"></i>
        </a></li>
        <li><button id="themeButton"><i class="fas fa-circle"></i></button></li> <!-- Przycisk zmiany motywu z ikoną -->
      </ul>
  </nav>
  
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var body = document.querySelector('body');
    var themeButton = document.getElementById('themeButton');

    // Funkcja do zmiany motywu
    function changeTheme() {
        body.classList.toggle('dark-theme'); // Przełącz klasę CSS 'dark-theme'
        var isDarkTheme = body.classList.contains('dark-theme');
        localStorage.setItem('theme', isDarkTheme ? 'dark' : 'light'); // Zapisz preferencję motywu do Local Storage
    }

    // Obsługa kliknięcia przycisku zmiany motywu
    themeButton.addEventListener('click', changeTheme);

    // Sprawdzenie, czy w Local Storage jest zapisana preferencja dotycząca motywu
    var savedTheme = localStorage.getItem('theme');
    if (savedTheme === 'dark') {
        body.classList.add('dark-theme'); // Dodaj klasę CSS 'dark-theme', jeśli motyw ciemny jest preferowany
    }
});
</script>
